* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.flex {
    display: flex;
}

article {
    width: 33.333%;
    margin: 1%;
}